*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.[oa]

/.gitignore
.idea/modules.xml
.idea/vcs.xml
/.idea/libraries/misc.xml

.idea/
